<!DOCTYPE html>
<html>
<head>
<title>Sure Park System</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<form method="post" action="/insertbranch">
		<h1>Branch Registration</h1>
		<table border="0">
			<tr>
				<td>Branch Name : </td><td><input type="text" id="USER_NAME" name="USER_NAME"/></td><td>Branch ID : </td><td><input type="text" id="USER_PHONE" name="USER_PHONE"/></td>
			</tr>
			<tr>
				<td>Branch Address : </td><td><input type="text" id="USER_ID" name="USER_ID"/></td><td>Number of Parking lots : </td><td><input type="password" id="PASSWORD" name="PASSWORD"/></td>
			</tr>
			<tr>
				<td>IP Address : </td><td><input type="text" id="email" name="email"/></td><td>External Facility : </td><td><input type="text" id="car_num" name="car_num"/></td>
			</tr>			
			<tr>
				<td colspan="4" align="left"><input type="submit" value="Done" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
