<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>Sure Park System</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<form method="post" action="/insertuser">
		<h1>Registration</h1>
		<table border="0" cellpadding="5">
			<tr>
				<td>NAME<input type="text" id="USER_NAME" name="USER_NAME"/></td><td>PHONE<input type="text" id="USER_PHONE" name="USER_PHONE"/></td>
			</tr>
			<tr>
				<td>ID<<input type="text" id="USER_ID" name="USER_ID"/></td><td>PASSWORD</td><td><input type="password" id="PASSWORD" name="PASSWORD"/></td>
			</tr>
			<tr>
				<td>Email : </td><td><input type="text" id="email" name="email"/></td><td>Car number : </td><td><input type="text" id="car_num" name="car_num"/></td>
			</tr>
			<tr>
				<td>CERTIFICATION ID : </td><td><input type="text" id="certifi_id" name="certifi_id"/></td><td></td><td></td>
			</tr>			
			<tr>
				<td></td><td><input type="submit" value="Done" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
